//- Life + Featured Story template

block content
	for item, idx in data.results
		-var imageProperties = {}
		-var categoryLabel = {}
		-var premium = (item.paidStatus === "PREMIUM") ? "prm prm-story " : ""
		-var keywordsLimit = 5

		//- Define image properties
		if item.relatedMap.image && item.relatedMap.image["316"] && idx > 0
			-imageProperties.link = item.relatedMap.image["316"].link
			-imageProperties.imageName = item.relatedMap.image["316"].imageName
			-imageProperties.height = item.relatedMap.image["316"].height
			-imageProperties.width = item.relatedMap.image["316"].width
			-imageProperties.dimensions = "image-" + imageProperties.width + "w" + imageProperties.height + "h"
			-imageProperties.hasImage = ""
		else if item.relatedMap.image && item.relatedMap.image["650"]
			-imageProperties.link = item.relatedMap.image["650"].link
			-imageProperties.imageName = item.relatedMap.image["650"].imageName
			-imageProperties.height = item.relatedMap.image["650"].height
			-imageProperties.width = item.relatedMap.image["650"].width
			-imageProperties.dimensions = "image-" + imageProperties.width + "w" + imageProperties.height + "h"
			-imageProperties.hasImage = ""
		else
			-imageProperties.link = ""
			-imageProperties.imageName = ""
			-imageProperties.height = ""
			-imageProperties.width = ""
			-imageProperties.dimensions = ""
			-imageProperties.hasImage = "no-image"

		//- Check if video or gallery present
		if item.relatedMap.video
			-imageProperties.hasMedia = " has-video"
		else if item.gallery.length > 0
			-imageProperties.hasMedia = " has-gallery"
		else
			-imageProperties.hasMedia = ""

		if idx === 0
			| <div class="item featured-story">

		.content-item(class="cipos-#{idx} cirpos-#{data.results.length - idx}" + imageProperties.hasMedia)
			.image-block(class=imageProperties.dimensions + imageProperties.hasImage)
				//- Image (serve 650 if 316 unavailable, append size parameter to render optimised image)
				.image-frame
					a.image-link(href=item.link)
						img(
							src=imageProperties.link,
							alt=(imageProperties.imageName||"").trim(),
							height=imageProperties.height,
							width=imageProperties.width)

				//- Category link
				if item.primaryCategory && /(Executive Living|Life)/gi.test(item.primaryCategory)

					-categoryLabel.link = item.primaryCategory.replace(/^\/display\/theaustralian.com.au(\/Web\/TheAustralian)?\//gi, "/").replace(/Executive Living/gi, "Life").replace(/(\sand|\s&amp;|\s&|\s)+/gi, "-").toLowerCase()
					-categoryLabel.text = item.primaryCategory.split("/")[item.primaryCategory.split("/").length - 2]

					if /Food and Drink/gi.test(item.primaryCategory)
						-categoryLabel.link = categoryLabel.link.replace(/\-drink/gi, "-wine")
						-categoryLabel.text = categoryLabel.text.replace(/Drink/gi, "Wine")
					else if /(Personal Oz|Personal Tech)/gi.test(item.primaryCategory)
						-categoryLabel.link = categoryLabel.link.replace(/personal\-(oz|tech)/gi, "personal-technology")
						-categoryLabel.text = categoryLabel.text.replace(/Personal (Oz|Tech)/gi, "Personal Technology")

					if /(And|&amp;)/gi.test(categoryLabel.text)
						-categoryLabel.text = categoryLabel.text.replace(/(And|&amp;)/gi, "&")

					if /Executive Living/gi.test(categoryLabel.text)
						-categoryLabel.text = "Life"

					.category
						a(href=categoryLabel.link)
							=categoryLabel.text

			div(class=premium + "story-block sbpos-#{idx} sbrpos-#{data.results.length - idx}", id="#{item.id}")
				h4.heading
					if item.kicker
						span.kicker= (item.kicker||"").trim()
					a(href=item.link, class=premium)= (item.title||"").trim()

				if item.standFirst
					p.standfirst
						if item.byline
							span.article-info
								if item.timestamp !== false
									span.timestamp
										time(datetime=item.dateLive)= moment(item.dateLive).format('H:mm A')

								em.byline= (item.byline||"").trim() + " "
						span=(item.standFirst||"").trim()

		if idx === 0
			| </div><div class="item">
		else if idx === data.results.length / 2
			| </div><div class="item">
	| </div>

